html,
body {
  max-width: 100vw;
  overflow: hidden;

  /* Hide the scrollbar in Firefox */
  scrollbar-width: none;
  scrollbar-color: transparent transparent;

  /* Style the track (optional) */
  scrollbar-track-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
